#root {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f0f6f4;
  color: #213547;
  line-height: 1.5;
  min-width: 320px;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

.header-logo {
  height: 56px;
  width: auto;
}

.header-text-block {
  display: flex;
  flex-direction: column;
}

.site-title {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 1.6;
  color: white;
}

.site-subtitle {
  font-size: 1.0rem;
  font-weight: 300;
  color: white;
  opacity: 0.7;
}

.main-header {
  background-color: #037c25;
  width: 100%;
  padding: 24px 0;
}

.main-content {
  /* max-width: 1200px; */
  width: 100%;
  margin: 0 auto;
  padding: 32px 24px;
  text-align: center;
}

.header-content {
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.site-logo {
  height: 50px;
  margin-bottom: 12px;
}

.audio-player-container {
  background: white;
  max-width: 430px;
  width: 100%;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  align-items: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
  margin: 20px auto 0;
}

.waveform {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 60px;
  gap: 6px;
  margin-bottom: 20px;
}

/* Bars */
.waveform span {
  width: 6px;
  height: 20px;
  background: #037c25;
  border-radius: 4px;
  animation: waveAnim 1s ease-in-out infinite;
  animation-play-state: paused;
}

/* Start animation when playing */
.waveform.playing span {
  animation-play-state: running;
}

/* Each bar animates at a slightly different speed */
.waveform span:nth-child(1) {
  animation-delay: 0s;
}
.waveform span:nth-child(2) {
  animation-delay: 0.2s;
}
.waveform span:nth-child(3) {
  animation-delay: 0.4s;
}
.waveform span:nth-child(4) {
  animation-delay: 0.6s;
}
.waveform span:nth-child(5) {
  animation-delay: 0.8s;
}
.waveform span:nth-child(6) {
  animation-delay: 0.1s;
}
.waveform span:nth-child(7) {
  animation-delay: 0.3s;
}
.waveform span:nth-child(8) {
  animation-delay: 0.5s;
}
.waveform span:nth-child(9) {
  animation-delay: 0.7s;
}
.waveform span:nth-child(10) {
  animation-delay: 0.9s;
}

/* Wave animation */
@keyframes waveAnim {
  0% {
    height: 20px;
  }
  50% {
    height: 60px;
  }
  100% {
    height: 20px;
  }
}

/* Start button */
.play-button {
  background: #037c25;
  border: none;
  color: white;
  font-size: 1rem;
  padding: 12px 24px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

/* Play button */
.stop-button {
  background: #830b19;
  border: none;
  color: white;
  font-size: 1rem;
  padding: 12px 24px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.play-button:hover {
  background: #025d1d;
}

.stop-button:hover {
  background: #e7051f;
}

/* LIVE INDICATOR */
.live-pill {
  background-color: #b91c1c;
  color: white;
  padding: 6px 14px;
  border-radius: 999px;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 20px;
  animation: pulseLive 1.8s infinite;
}

@keyframes pulseLive {
  0% { opacity: 1; }
  50% { opacity: 0.45; }
  100% { opacity: 1; }
}

@keyframes waveShift {
  from { transform: translateX(0); }
  to { transform: translateX(-120px); }
}
